@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1766757270627') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-rightarrow:before {
  content: "\e6e0";
}

.icon-search:before {
  content: "\e602";
}

